${H}
${H}" @info   $GEN_CLIB_PRO_TOOL $GEN_CLIB_PRO_VERSION"
${H}" @author ${AN} <${AE}>"
${H}" @brief  Process this file in build stage"
${H}
"prefix=@prefix@"
"exec_prefix=@exec_prefix@"
"libdir=@libdir@"
"datarootdir=@datarootdir@"
"datadir=@datadir@"
"includedir=@includedir@/lib${PN}-0.1"

"Name: lib${PN}"
"Description: Ansi C library."
"Version: @VERSION@"
"Requires: "
"Libs: -L\\\${libdir} -l${PN}"
"Cflags: -I\\\${includedir}"
